.divFormatting {
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.headerFormatting {
  margin-left: 3%;
}

.additionalProfileSettingsInput {
  scale: 3;
  margin-left: 1.25rem;
}

.additionalSettingButton {
  margin-top: 1rem;
}

@media (max-width: 572px) {
  .headerFormatting {
    font-size: 18px;
  }
  
  .divFormatting {
    text-align: left;
  }
}