.profilePicture {
  width:90%;
  margin-left: 5%;
  height: 80%;
  max-height: 350px;
  padding: 20px;
  border-radius: 10%;
  min-width: 80px;
}

.rowPadding {
  padding-bottom: 2%;
}

.headingPadding {
  margin-top: 1.5rem;
  text-align: center;
}

.saveDescriptionButton {
  margin-right: 2.5%;
}

.uploadImageInput {
  margin-left: 10%;
}

.changeProfilePictureButton {
  width: 88%;
  margin-left: 10%;
  margin-top: 2%;
}

@media (max-width: 1000px) {
  .changeProfilePictureButton {
    margin-left: 12%;
  }
}

.additionalProfileSettings {
  text-align: right;
  padding-right: 2%;
}

.additionalProfileSettingsInput {
  scale: 2.5;
  text-align: left;
}