.icon {
  margin-top: 10px; 
  width: 40%;
  height: 80%;
  text-align: center;
}

@media (max-width: 768px) {
  .icon {
    margin-top: 40px; 
    margin-left: -12px;
    width: 30px;
    height: 30px;
  }
}