.rowSpacing {
  width: 95%;
  margin-left: 2.5%;
}

.muscleGroupFilterPadding {
  padding-bottom: 2%;
}

.headerPadding {
  padding: 10px;
  text-align: center;
}

@media (max-width: 576px) {
  .columnPadding {
    padding-top: 15%;
  }
}