.rowFormatting {
  --bs-gutter-x: 0rem;
}

.welcomeBackColumn {
  background-color: black;
}

.loginColumn {
  background-color: white;
  padding-top: 13%;
}

.imageOne {
  padding-left: 15%;
  padding-top: 5%;
  max-width: 80%;
  max-height: 720px;
}

.whiteText {
  color: white;
  font-size: 24px;
  text-align: center;
}

.headerText {
  font-size: 48px;
  margin-top: 7%;
  margin-bottom: 1%;
}
