.filledInPhoto {
  width:40%;
  margin-left: 30%;
  height: 100%;
  max-height: 550px;
  padding: 5px;
  border-radius: 10%;
  min-width: 80px;
}

.emptyPhoto {
  background-color: white;
  height: 200px;
  max-height: 350px;
  padding: 20px;
  border-radius: 5%;
  min-width: 80px;
  width: 50%;
  margin-left: 25%;
  margin-bottom: 20px;
}

.addFileUpload {
  margin-top: 1%;
  margin-bottom: 1%;
}

.radioButtonFormatting {
  font-size: 20px;
}

.numberInputFormatting {
  width: 50%;
  margin-left: 25%;
  text-align: center;
}

@media (min-width: 1000px) {
  .emptyPhoto {
    height: 1000px;
  }
}

@media (max-width: 572px) {
  .addButton {
    width: 90%;
    margin-left: 5%;
  }

  .filledPhoto {
    width:90%;
    margin-left: 5%;
  }
}